{% extends 'base.html.twig' %}

{% block title %}Forum Planner{% endblock %}

{% block body %}
<div class="container">
<h1>Welcome</h1>
<p>Welcome to the Forum Planner, a place where you can plan your forum activities.</p>
</div>
{% endblock %}
